<div class="notice--info" style="padding: 1.5em; border-radius: 8px; margin-top: 2em;">
  
  <h4>Like whatcha see?</h4>
  <p>Enter your email to receive new posts in your inbox.</p>
  
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/dow"
    method="post"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" placeholder="you@example.com" />
    <input type="submit" value="Subscribe" class="btn btn--primary"/>
    <p>
      <a href="https://buttondown.com/refer/dow" target="_blank">
      </a>
    </p>
  </form>
</div>